// Style Form

.form-control{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-control:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.form-select{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-select:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.limpiar-filtrar{
    display: flex;
    border-radius: 5px;
}

.btn.limpiar {
    border: none;
    width: 165px;
    text-align: center;
    border-radius: 7px;
    padding: 7px;
}
  
.btn.limpiar:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
}

.btn.filtrar {
    background-color: #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
    border: none;
    width: 163px;
    text-align: center;
    border-radius: 7px;
    color: black;
    padding: 7px;
    font-weight: bold;
}
  
.btn.filtrar:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
}

.metodo-pago{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(143, 143, 143, 0.413);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 90%;
}
  
.item:focus {
    border: none;
    box-shadow: 0 0 6px 0.5px #5adbff;
}

.img-todas{
    margin-top: 10px;
}

.texto {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
}