<!-- Formulario Filtro -->

<div class="container form h-100 d-flex flex-column">
    <div class="formulario d-flex flex-column flex-grow-1 p-0">
        <form class="d-flex flex-column flex-grow-1" (submit)="$event.preventDefault(); filtrar()">
            <label class="form-label d-block">Forma de Pago</label>
            <div class="pago-options mb-3">
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'efectivo'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/efectivo.png" alt="Efectivo" />
                <span>Efectivo</span>
              </label>
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'transferencia'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/banco.png" alt="Transferencia" />
                <span>Transferencia</span>
              </label>
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'tarjeta'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/targeta.png" alt="Tarjeta" />
                <span>Tarjeta</span>
              </label>
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'nequi'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/nequi.ico" alt="Nequi" />
                <span>Nequi</span>
              </label>
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'daviplata'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/daviplata.ico" alt="Daviplata" />
                <span>Daviplata</span>
              </label>
              <label class="pago-option">
                <input type="radio" name="formaPagoFiltros" [(ngModel)]="selectedMetodo" [value]="'otros'" />
                <img class="img-pago" src="../../assets/img/icons-metodo de pago/otro.png" alt="Otros" />
                <span>Otros</span>
              </label>
            </div>
            <div class="mb-3">
                <label class="form-label">Cliente</label>
                <select class="form-select" [(ngModel)]="selectedClienteId" name="cliente">
                    <option [ngValue]="''">Todos los Clientes</option>
                    <option *ngFor="let c of clientes" [ngValue]="c.id">{{ c.nombre }} {{ c.apellido }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Proveedor</label>
                <select class="form-select" [(ngModel)]="selectedProveedorId" name="proveedor">
                    <option [ngValue]="''">Todos los Proveedores</option>
                    <option *ngFor="let p of proveedores" [ngValue]="p.id">{{ p.nombre }}</option>
                </select>
            </div>
            <div class="limpiar-filtrar d-flex gap-2 mt-auto">
                <div class="limpi">
                    <button type="button" class="btn limpiar" (click)="limpiar()">Limpiar Filtros</button>
                </div>
                <div class="filt">
                    <button type="button" class="btn filtrar" (click)="filtrar()">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
</div>