<main>
    <!-- Título -->
    <section>
        <div class="container text-center">
            <div class="row">
            <div class="col">
                <h1 class="tit-cajas">Modificar Caja</h1>
            </div>
            </div>
        </div>
    </section><br>

    <!-- Botones Activo-Inactivo e Imagen -->
    <section>
        <div class="cont-img">
            <div class=" image">
                <img class="icon-prov" src="../../assets/img/icons-navbar/Cajas.png" alt="" width="80px" height="80px">
            </div>
        </div>
        <div class="container act-inac">
            <div class="activo">
                <button class="btn-act">Activo</button>
            </div>
            <div class="inactivo">
                <button class="btn-inac">Inactivo</button>
            </div>
        </div><br>
    </section>

    <!-- Formulario Registro -->
    <section>
        <div class="container form">
            <div class="formulario">
                <form>
                    <div class="mb-4">
                        <label for="exampleInputText" class="form-label">Nombre de Caja</label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputText" class="form-label">Codigo de Caja</label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>

                    <div class="mb-4 confirmarfinal">
                        <button type="submit" class="btn confir">Confirmar</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

</main>