.shadow-bottom{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
}
.line-brown{
    border-right: brown 1px solid;
}
@media(max-width: 991px) {
    li{
        justify-content: center;
        text-align: center;
        border: 1px solid brown;
    }
    .separador {
        margin-top: 10px; /* Espaciado extra */
        gap: 15px;
    }
    
}
a{
    font-family: "Funnel Sans", sans-serif;
    font-weight: 800;
}
li {
    padding-left: 30px;
    padding-right: 50px; 
    margin-left: 10px; 
    margin-right: 10px; 

}
.navbar-nav {
    display: flex;
    justify-content: right; /* Centra horizontalmente */
    align-items: right; /* Centra verticalmente */
    width: 100%; /* Asegura que ocupe todo el espacio */
}
