<main>
    <!-- Título -->
    <section>
        <div class="container text-center">
            <div class="row">
            <div class="col">
                <h1 class="tit-clientes">Modificar Cliente</h1>
            </div>
            </div>
        </div>
    </section><br>

    <!-- Botones Activo-Inactivo e Imagen -->
    <section>
        <div class="cont-img">
            <div class=" image">
                <img class="icon-prov" src="../../assets/img/icons-navbar/Clientes.png" alt="" width="80px" height="80px">
            </div>
        </div>
        <div class="container act-inac">
            <div class="activo">
                <button (click)="cambiarEstado('activo')" [ngClass]="{'btn-active': cliente?.estado === 'activo'}" class="btn-act">Activo</button>
            </div>
            <div class="inactivo">
                <button (click)="cambiarEstado('inactivo')" [ngClass]="{'active_negative': cliente?.estado === 'inactivo'}" class="btn-inac">Inactivo</button>
            </div>
        </div><br>
    </section>

    <!-- Formulario Registro -->
    <section>
        <div class="container form">
            <div class="formulario">
                <form *ngIf="cliente" (ngSubmit)="modificarCliente()">
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Nombre del Cliente</label>
                        <input type="text" [(ngModel)]="cliente.nombre" name="nombre" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Apellido del Cliente</label>
                        <input type="text" [(ngModel)]="cliente.apellido" name="apellido" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Telefono</label>
                        <input type="text" [(ngModel)]="cliente.numero" name="numero" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                        <input type="email" [(ngModel)]="cliente.correo" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="confirmarfinal">
                        <button data-bs-dismiss="offcanvas" type="submit" class="btn confir">Confirmar</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

</main>