// Style Botones Activo-Inactivo

.paga-credit {
    display: flex;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
    border-radius: 5px;
    padding: 7px
}

.btn-paga {
    border: none;
    width: 174px;
    text-align: center;
    border-radius: 7px;
    color: black;
    padding: 7px;
    font-weight: bold;
}

.btn-paga:focus{
    color: white;
    background-color: #4CAF50; 
}

.btn-credit {
    border: none;
    width: 174px;
    text-align: center;
    border-radius: 7px;
    color: black;
    padding: 7px;
    font-weight: bold;
    margin-left: 4px;
}

.btn-credit:focus{
    color: white;
    background-color: #fa0000; 
}

// Style Form

.form-control{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-control:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.form-select{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-select:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.btn.create-venta {
    width: 100%;
    background-color: #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    border: none; 
    cursor: pointer;
}
  
.btn.create-venta:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
}

.metodo-pago{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(143, 143, 143, 0.413);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 90%;
}
  
.item:focus {
    border: none;
    box-shadow: 0 0 6px 0.5px #5adbff;
}

.img-todas{
    margin-top: 10px;
}

.texto {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
}