<!-- Botones Activo-Inactivo -->

<div class="container paga-credit">
    <div class="activo">
        <button class="btn-paga">Pagada</button>
    </div>
    <div class="inactivo">
        <button class="btn-credit">A Credito</button>
    </div>
</div><br>

<!-- Formulario Registro -->

<div class="container form">
    <div class="formulario">
        <form>
            <div class="mb-3">
              <label for="exampleInputText" class="form-label">Nombre de la Venta</label>
              <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputDate" class="form-label">Fecha de la Venta</label>
                <input type="date" class="form-control" id="exampleInputDate" aria-describedby="dateHelp" >
            </div>
            <div class="mb-3">
                <label for="exampleInputDate" class="form-label">Cliente</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecciona un Cliente</option>
                    <option value="1">Claudia</option>
                    <option value="2">Freyder</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputText" class="form-label">Valor</label>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
            </div>
            <label for="exampleInputText" class="form-label">Selecciona el Metodo de pago</label>
            <div class="metodo-pago mb-3">
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/efectivo.png" alt="" width="30px" height="30px">
                    <p class="texto">Efectivo</p>
                </button>
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/targeta.png" alt="" width="30px" height="30px">
                    <p class="texto">Targeta</p>
                </button>
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/banco.png" alt="" width="30px" height="30px">
                    <p class="texto">Transferencia Bancaria</p>
                </button>
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/daviplata.ico" alt="" width="30px" height="30px">
                    <p class="texto">Daviplata</p>
                </button>
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/nequi.ico" alt="" width="30px" height="30px">
                    <p class="texto">Nequi</p>
                </button>
                <button class="item">
                    <img class="img-todas" src="../../assets/img/icons-metodo de pago/otro.png" alt="" width="30px" height="30px">
                    <p class="texto">Otros</p>
                </button>
            </div>
            <button type="submit" class="btn create-venta">Confirmar Venta</button>
        </form>
    </div>
</div>