<div class="container text-center py-4">
  <h1 class="fw-bold mb-4">Productos en Venta</h1>
  <div class="d-flex justify-content-center px-3">
    <div class="search-icon-wrapper p-3 rounded-4">
      <form role="search">
        <input class="form-control rounded-4 border" type="search" placeholder="Buscar Producto..." aria-label="Search">
        <i class="bi bi-search"></i>
      </form>
    </div>
  </div>
</div>

<!-- Panadería -->
<div class="container">
  <div class="products-panaderia bg-light py-4">
    <p class="cate-nom">~~Panadería~~</p>
    <div class="products-wrapper">
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/croasant.jpg" alt="Croasant">
          <div class="card-body">
            <p class="card-text">Croasant</p>
            <p class="card-text">$ 800</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/pandeyuca.jpg" alt="Pan de Yuca">
          <div class="card-body">
            <p class="card-text">Pan de Yuca</p>
            <p class="card-text">$ 900</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/pastelpollo.jpg" alt="Pastel de Pollo">
          <div class="card-body">
            <p class="card-text">Pastel de Pollo</p>
            <p class="card-text">$ 2000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/almohabana.jpg" alt="Almohabana">
          <div class="card-body">
            <p class="card-text">Almohabana</p>
            <p class="card-text">$ 900</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bebidas -->
<div class="container">
  <div class="products-panaderia bg-light py-4">
    <p class="cate-nom">~~Bebidas~~</p>
    <div class="products-wrapper">
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/cocacola.jpg" alt="Coca Cola">
          <div class="card-body">
            <p class="card-text">Coca Cola 1.5 L</p>
            <p class="card-text">$ 3000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/speed.jpg" alt="Speed Max">
          <div class="card-body">
            <p class="card-text">Speed Max</p>
            <p class="card-text">$ 2000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/ponymalta.jpg" alt="Pony Malta">
          <div class="card-body">
            <p class="card-text">Pony Malta Personal</p>
            <p class="card-text">$ 2500</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/colombiana.jpg" alt="Colombiana">
          <div class="card-body">
            <p class="card-text">Colombiana 1.5 L</p>
            <p class="card-text">$ 3500</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Repostería -->
<div class="container">
  <div class="products-panaderia bg-light py-4">
    <p class="cate-nom">~~Repostería~~</p>
    <div class="products-wrapper">
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/tortafrialibra.png" alt="Torta Fria Libra">
          <div class="card-body">
            <p class="card-text">Torta Fria Libra</p>
            <p class="card-text">$ 40000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/tortafriamedialibra.jpg" alt="Torta Fria Media Libra">
          <div class="card-body">
            <p class="card-text">Torta Fria Media Libra</p>
            <p class="card-text">$ 20000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/cupcake.png" alt="Cupcake">
          <div class="card-body">
            <p class="card-text">Cup Cakes</p>
            <p class="card-text">$ 3000</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="card h-100">
          <img src="../../assets/img/products img/postresmaracuya.png" alt="Postre de Maracuyá">
          <div class="card-body">
            <p class="card-text">Postre de Maracuyá</p>
            <p class="card-text">$ 3000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ver-todos-product text-center">
  <button class="btn fw-semibold fs-5 rounded-5">
    Ver todos los Productos
  </button>
</div>
  
  