@use '@angular/material' as mat;

$my-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$cyan-palette,
  ),
));

html {
  @include mat.all-component-themes($my-light-theme);
}

@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Offcanvas global stacking to sit above navbar/content */
.offcanvas-backdrop {
  z-index: 2000 !important; /* below panel, above navbar/content */
}
.offcanvas {
  z-index: 2005 !important; /* above backdrop */
}
