<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="tit-movimientos">Movimientos</h1>
        </div>
    </div>
</div>
<div class="container justify-content-center d-flex">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-gl-6">
            <button id="button" class="btn btn-primary dropdown-toggle nueva-venta me-5 bg-green" data-bs-toggle="dropdown">
                <img class="image-etiqueta me-3" src="../../assets/img/Logos Admin/venta.png" alt="">
                Nueva Venta
              </button>
              <div class="dropdown-menu ancho">
                <a class="dropdown-item flexible" href="#">
                    <div class="venta-productos justify-content-center d-flex me-3">
                    <img class="image-etiqueta " src="../../assets/img/Logos Admin/venta_productos.png" alt="">
                    </div>
                    <div class="contenido-botones">
                        <h6>Venta de Productos</h6>
                        <p>Registra una venta seleccionando los <br> productos del inventario</p>
                    </div>
                </a>
                <a class="dropdown-item flexible" href="#">
                    <div class="venta-productos justify-content-center d-flex me-3">
                        <img class="image-etiqueta " src="../../assets/img/Logos Admin/peso.png" alt="">
                        </div>
                        <div class="contenido-botones">
                            <h6>Venta Libre</h6>
                            <p>Registra un ingreso sin seleccionar <br> productos de tu inventario</p>
                        </div>
                </a>
              </div>
              
        </div>
        
        <div class="col-sm-12 col-md-6 col-gl-6">
            <button id="button" class="btn btn-primary  nuevo-gasto bg-red" data-bs-toggle="offcanvas" data-bs-target="#gasto" aria-controls="staticBackdrop">
                <img class="image-etiqueta me-3" src="../../assets/img/Logos Admin/gasto.png" alt="">
                Nuevo Gasto
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="gasto" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    I will not close if you click outside of me.
                  </div>
                </div>
              </div>
        </div>
    </div>
