.tit-movimientos{
    font-family: 'poetsen one',cursive;
}
.image-etiqueta{
    width: 45px;
}
.nueva-venta{
    width: 300px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 4px 1px rgb(214, 214, 214);
}
.bg-green:active{
    background-color: rgb(0, 158, 0);
}
.bg-green{
    background-color: rgb(43, 206, 43);
}
.nuevo-gasto{
    width: 300px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 4px 1px rgb(214, 214, 214);
}
.bg-red{
    background-color: rgb(207, 0, 0);
}
.bg-red:active{
    background-color: rgb(143, 1, 1);
}
// ancho de el menu de boton verde y rojo
.ancho{
    width: 300px;
}
.venta-productos{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #5adbff;
    border: 1px solid #31d2ff;
}
.flexible{
    display: flex;
    height: 70px;
}
h6{
    font-size: 18px;
}

.contenido-botones{
    font-size: 12px;
    clear: both;
    width: 100px;
    height: 50px;
}
h6, p {
    margin: 0;
    padding: 0;
  }
.contenido-botones p{
    color: gray;
}