.tit-clientes{
    font-family: 'poetsen one', cursive;
}

// Style Busqueda y Agregar

.buscar-agg {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px; 
}

.agg-cli{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-control {
    width: 700px; 
    border-radius: 18px;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
    padding: 8px 15px; 
    margin-right: 10px; 
}
  
.form-control:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}
  
.btn.agregar {
    background-color: #5adbff;
    width: 200px;
    border-radius: 18px;
    box-shadow: 0 0 6px 0.5px #5adbff;
    padding: 8px 15px; 
    border: none; 
    cursor: pointer; 
<<<<<<< Updated upstream
=======
    color: white;
    font-size: 18px;
    z-index: 12;
>>>>>>> Stashed changes
}
  
.btn.agregar:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
    outline: none; 
}
.btn.agregar img{
        display: none;
    }
@media (max-width: 768px) {
    .buscar-agg {
        flex-direction: column; 
        align-items: stretch; 
    }
  
    .form-control {
        width: 100%; 
        margin-bottom: 10px; 
    }
    .texto{
        display: none;
    }
    .btn.agregar {
        position: fixed; 
        bottom: 180px; 
        left: 80%; 
        height: 110px;
        transform: translateX(-50%); 
        width: 110px; 
        border: 1px solid #5adbff;
        border-radius: 50%; 
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    .img_add{
        display: block;
    }
  }

  
// Tablas Informacion

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    text-align: center;
}

.table thead th {
    background-color: #f2f2f2;
    border: none;
}

.table td, .table th {
    border: none;
}

.table tbody tr {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.td1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}

a {
    margin-left: 10px;
}

img {
    filter: drop-shadow(0px 0px 10px #5adbff);
    position: relative;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.activo {
    color: #00b82b;
    background-color: #9cffb3;
}

.inactivo {
    color: #c00013;
    background-color: #ff828f;
}

@media screen and (max-width: 768px) {
    .table thead {
        display: none;
    }
    .btn.agregar img{
        display: block;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    img{
        display: none;
    }

}