main{
    margin-top: 140px;
}

@media (max-width: 768px) {
    main {
        margin-top: 0; 
    }
}

h1 {
  font-family: 'Poetsen One', cursive;
}

body {
  background-color: #FBF8F8;
}

.bg-white {
  background-color: white;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 4px 1px rgba(214, 214, 214, 0.705);
  border: 1px solid #70707000;
}