.venta-card {
    max-width: 420px;
    max-height: 500px;
    margin: auto;
    padding: 16px;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

mat-card-content {
    padding: 26px;
}

.detalle-item {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 16px 0;
    font-size: 15px;
}


.icon {
    font-size: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estado.pagada {
    color: #2e7d32;
}

.estado.pendiente {
    color: #f9a825;
}
