<nav class="navbar" id="navContainer">
    <div class="container-fluid">
        <div class="profile">  
            <a class="img-navbar" href="#">
                <img src="../../assets/img/Logo-removebg-preview.png" alt="" width="115" height="80">
            </a>
        </div>
        <div class="navbar-line"></div>
        <a class="navbar-brand" href="#">
          <img src="../../assets/img/icons-navbar/Movimientos.png" alt="" width="30" height="30">
          Movimientos
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/icons-navbar/Inventario.png" alt="" width="30" height="30">
            Inventario
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/icons-navbar/Estadisticas.png" alt="" width="30" height="30">
            Estadisticas
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/icons-navbar/Cajas.png" alt="" width="30" height="30">
            Cajas
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/icons-navbar/Proovedores.png" alt="" width="30" height="30">
            Proveedores
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/icons-navbar/Clientes.png" alt="" width="30" height="30">
            Clientes
        </a>
    
    </div>
      
</nav>

