// Style Form

.subir-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-upload-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    box-shadow: rgba(128, 128, 128, 0.226) 1px 1px 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.image-upload-box:hover {
    background-color: #f0f8ff;
}

.image-upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5adbff50;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-upload-box:hover .overlay-text {
    opacity: 1;
}
.item {
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    width: 50%;
    height: 50%;
}
  
.item:focus {
    border: none;
    box-shadow: 0 0 6px 0.5px #5adbff;
}

.form-control{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
    border-radius: 9999px !important;
}

.form-control:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
    border-radius: 9999px !important;
}

.form-select{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
    border-radius: 9999px !important;
}

.form-select:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
    border-radius: 9999px !important;
}

.btn.confirmar {
    width: 100%;
    background-color: #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    border: none; 
    cursor: pointer;
    border-radius: 9999px !important;
    color: #fff;
    font-weight: bold;
}
  
.btn.confirmar:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 2px #5adbff;
}

.btn.confir {
    width: 100%;
    background-color: #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    border: none; 
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 18px;
}

.confirmarfinal{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}