<main>
    <!-- Título -->
    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1 class="tit-proveedores">Agregar Proveedores</h1>
                </div>
            </div>
        </div>
    </section><br>

    <!-- Botones Activo-Inactivo e Imagen -->
    <section>
        <div class="cont-img">
            <div class=" image">
                <img class="icon-prov" src="../../assets/img/icons-navbar/Proovedores.png" alt="" width="80px" height="80px">
            </div>
        </div>
        <div class="container act-inac">
            <div class="activo">
                <button class="btn-act">Activo</button>
            </div>
            <div class="inactivo">
                <button class="btn-inac">Inactivo</button>
            </div>
        </div><br>
    </section>

    <!-- Formulario Registro -->
    <section>
        <div class="container form">
            <div class="formulario">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Nombre del Proveedor</label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Apellido del Proveedor</label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div><br>

                    <div class="confirmarfinal">
                        <button type="submit" class="btn confir">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>