.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-login-btn {
    position: absolute;
    top: 24px;
    left: 12px;
    border: none;
    background: transparent;
    color: brown;
    font-size: 1.8rem;
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-login-btn:hover {
    color: rgb(163, 57, 57);
}

.login {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 2px 2px 30px brown;
    overflow: hidden;
    margin: auto;
    background-color: white;
}

.login-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    animation: floatLogo 3s ease-in-out infinite;
}

@keyframes floatLogo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

.titulo-email {
    font-family: 'Poetsen One', cursive;
    font-size: 2rem;
    color: brown;
    text-align: center;
    width: 90%;
}

.form-control {
    width: 90%;
}

.form-control:focus {
    border-color: brown;
    box-shadow: 0 0 0 0.25rem rgba(165, 42, 42, 0.25);
    outline: none;
}

.form-label {
    color: brown;
}

.text-security{
    color: brown;
}

.btn-principal {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 90%;
}

.btn-principal:hover {
    background-color: rgb(163, 57, 57);
}

.btn-secundario {
    border-radius: 2rem;
    background-color: white;
    color: brown;
    width: 90%;
}

.btn-secundario:active {
    border: none;
}

.adminis {
    color: white;
}

@media (max-width: 768px) {
    .titulo-login {
        font-size: 1.5rem;
    }

    .btn-principal,
    .btn-secundario,
    .form-control {
        width: 100%;
    }

    .back-login-btn {
        left: -220px;
    }
}