<app-admin-navbar></app-admin-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="formulario">
                <div class="titulo">
                    <h1>Configuraciones</h1>
                </div>
             </div
         </div
    </div>
 </div>
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row g-3">
                <div class="col-12">
                    <div class="avatar-wrapper">
                        <div class="avatar">
                            <!-- perfil -->
                            <img src="../../assets/img/Logo-removebg-preview.png" alt="Logo" />
                        </div>
                        <!-- Ícono lápiz -->
                        <div class="edit-icon">
                            <img width="30px" src="../../assets/img/icons_configurar/pen_8220355.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label  text-start d-block">Nombre del Negocio</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label  text-start d-block">Dirección del Negocio</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label  text-start d-block">Ciudad Donde se Ubica el Negocio</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label text-start d-block">Numero de Celular</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-labe  text-start d-block">Correo Electronico</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label text-start d-block labeldefec">Documento</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="confirmarfinal mas">
                    <button type="submit" class="btn confir">Confirmar</button>
                </div>
                </form>
        </div>
    </div>
</div>