<main>
    <section>
        <div class="container body">
            <div class="row login bg-white">
                <div class="col-md-6 text-center p-4">
                    <img src="../../assets/img/login.jpg" alt="Login" class="login-img img-fluid">
                </div>
                <div class="col-md-6 p-4">
                    <h2 class="titulo-login">Restablecer Contraseña</h2><br>
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="password-wrapper">
                            <label for="password" class="form-label">Nueva Contraseña</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control password-input" id="newPassword" formControlName="newPassword" placeholder="Contraseña" required>
                            <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()" aria-label="Mostrar u ocultar contraseña">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                            </button>
                        </div>
                        <div class="password-wrapper">
                            <label for="password" class="form-label">Confirmación Contraseña</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control password-input" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar Contraseña" required>
                            <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()" aria-label="Mostrar u ocultar contraseña">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                            </button>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-principal">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
