<main>

    <!-- Formulario Registro -->
    <form *ngIf="mostrarFormulario" (ngSubmit)="agregarCaja(formCaja)" #formCaja="ngForm">

        <!-- Titulo -->
        <section>
            <div class="container text-center">
                <h1 class="tit-cajas">Agregar Cajas</h1>
            </div>
        </section><br>

        <!-- Botones Activo-Inactivo e Imagen -->
        <section>
            <div class="cont-img">
                <div class="image">
                    <img class="icon-prov" src="../../assets/img/icons-navbar/Cajas.png" alt="" width="80px" height="80px">
                </div>
            </div>
            <div class="container act-inac d-flex justify-content-center gap-3 mt-3">
                <button type="button" class="btn-act" [ngClass]="{ 'activo-seleccionado': nuevaCaja.estado === 'Activa' }" (click)="nuevaCaja.estado = 'Activa'">Activa</button>
                <button type="button" class="btn-inac" [ngClass]="{ 'inactivo-seleccionado': nuevaCaja.estado === 'Inactiva' }" (click)="nuevaCaja.estado = 'Inactiva'">Inactiva</button>
            </div><br>
        </section>

        <section>
            <div class="container form">
                <div class="formulario">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label">Nombre de Caja</label>
                        <input #nombreInput data-autofocus="true" type="text" class="form-control" id="validationCustom01" name="nombre" required [(ngModel)]="nuevaCaja.nombre" #nombreCaja="ngModel" [ngClass]="{ 'is-valid': nombreCaja.valid && nombreCaja.touched, 'is-invalid': nombreCaja.invalid && nombreCaja.touched}" (keydown.enter)="onEnterFocus(codigoCajaInput, $event, nuevaCaja.nombre)"/>

                        <!-- Mensaje de éxito -->
                        <div class="valid-feedback" *ngIf="nombreCaja.valid && nombreCaja.touched" @fadeIn>
                        ¡Se ve Bien!
                        </div>

                        <!-- Mensaje de error -->
                        <div class="invalid-feedback" *ngIf="nombreCaja.invalid && nombreCaja.touched" @shake>
                        El Nombre de la Caja es Obligatorio.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Código de Caja</label>
                        <input #codigoCajaInput type="text" class="form-control" [(ngModel)]="nuevaCaja.codigoCaja" [ngClass]="{ 'is-invalid': codigoCajaExcede || codigoCajaNoNumerico, 'is-valid': !codigoCajaExcede && !codigoCajaNoNumerico }" name="codigoCaja" required maxlength="20" pattern="^[0-9]*$" #codigoCajaRef="ngModel" (input)="validarCodigoCaja()" (keydown.enter)="onEnterFocus(btnConfirmarCaja, $event, nuevaCaja.codigoCaja)"/>

                        <!-- Mensaje de éxito -->
                        <div class="valid-feedback" *ngIf="codigoCajaRef.valid && codigoCajaRef.touched && nuevaCaja.codigoCaja" @fadeIn>
                            ¡Se ve Bien!
                        </div>

                        <!-- Mensaje si excede los 20 caracteres -->
                        <div class="invalid-feedback" *ngIf="codigoCajaExcede" @shake>
                            El Código NO puede tener más de 20 Números.
                        </div>

                        <!-- Mensaje si contiene caracteres no numéricos -->
                        <div class="invalid-feedback" *ngIf="codigoCajaNoNumerico" @shake>
                            Solo se Permiten Números.
                        </div>
                    </div>

                    <div class="confirmarfinal text-center">
                        <button #btnConfirmarCaja type="submit" class="btn confir" [disabled]="formCaja.invalid">Confirmar</button>
                    </div>
                </div>
            </div>
        </section>
    </form>

</main>