<app-nav-bar></app-nav-bar>
<main>
    <section>        <div class="container body">
            <div class="row login bg-white">
                <div class="col-md-6 text-center p-4">
                    <img src="/assets/img/login.jpg" alt="Login" class="login-img img-fluid">
                </div>

                <div class="col-md-6 p-4">
                    <h2 class="titulo-login">Login</h2><br>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo Electrónico">
                        </div>

                        <div class="password-wrapper">
                            <label for="password" class="form-label">Contraseña</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control password-input" id="password" formControlName="password" placeholder="Contraseña">
                            <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()" aria-label="Mostrar u ocultar contraseña">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                            </button>
                        </div>

                        <div class="mb-3 text-end">
                            <a class="olvidar" [routerLink]="['/verificar-email']">¿Olvidaste tu Contraseña?</a>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-principal">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
